/*================================================================
// Copyright 2017 Sonthakit Leelahanon. All rights reserved.
================================================================*/

.body {
	background-color:lightblue;
	color:black;"
}
div.customButton {
	padding-left:10px;
	padding-right:10px;
	white-space:nowrap;
}
div.customButton:hover {
	background-color:yellow;
	cursor:pointer;
}
button.buttonLink {
	border:none;
	cursor:pointer;
	background:transparent none;
	color:rgb(0, 0, 196);
	font-weight:bold;
}
button.buttonLink :hover{
	text-decoration:underline;
}